

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* Shared style */
.text-primary{
    color: #252432; /*for hero banner*/
}
.btn-primary{
    background-color: rgb(184, 56, 184);
    font-weight: bold;
    font-size: 16px;
    color: #ffff;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.text-center{
    text-align: center;
}


/* End of shared styles */

/* header */
.header{
    background-image: url('../images/Assets/Hero-bg.png');
    background-repeat: none;
    /* width: 1440px; */
    height: 698px;
}

/* nav style */
nav{
    display: flex;
    align-items: center; /*For vertical alignment of nav bar. upore niche thakle*/
    justify-content: space-between;
    margin: 0px 150px;
}
.nav-title{
    font-weight: 900;
    font-size: 35px;
    color: purple;
}
nav ul{
    display: flex;
   
}
nav ul li{
    list-style: none;
     margin-right: 50px;
}
nav li a{
    text-decoration: none;    
}

.banner-content{
    text-align: center;
    font-weight: bold;
    font-size: 35px;
    flex-wrap: wrap;
    margin: 150px 220px;
}

/* action styles */
.action{
    display: flex;
    justify-content: space-between;
    margin: 116px 141px 200px 159px;
}
.action-content{
    width: 580px;
    margin: 62px 100px 62px 30px;
}

.action-title{
    font-weight: bold;
    font-size: 45px;
}

.action-description{
    font-weight: 200;
    font-size: 24px;
}

.action-img{
    width: 403px;
    height: 328px;
    border-radius: 48px;
}

/* main styles */
.main{
    max-width: 1140px;
    margin: 0 auto;
}
/* Join section*/
.join{
    background-color: #efdbf7;
    border-radius: 24px;
    padding: 50px 80px;
    margin: 116px 148px;
    text-align: center;
}
.join-title{
    font-weight: bold;
    font-size: 30px;
}
.join-items{
    display: flex;
    justify-content: space-around;
}
.item-title{
    font-weight: bold;
    font-size: 80px;
    color: rgb(184, 82, 184);
    margin-top: 40px;
    margin-bottom: 24px;
}
.item-description{
    font-weight: 250;
    font-size: 20px;
    color: #000000;
    text-align: center;
}

/*  Review section */

.reviews{
    margin: 137px 151px;
}
.section-title{
    font-weight: bold;
    font-size: 42px;
    margin-bottom: 50px;
}

.review-container{
    display: flex;
    justify-content: space-around;
    gap: 20px;
} 
.review{
    padding: 30px;
    box-shadow: 0px 2px 4px 0px rgba(238, 184, 134, 0.6);
    border-radius: 14px;
    background-color: #fdfcfa;
}
.review-title{
    padding-top: 24px;
}
.review-description{
    padding-bottom: 20px;
}
.avatar{
    display: flex;
}
.avt-img{
    width: 50px;
    height: 70px;
    padding-top: 10px;
}
.avt-info{
    margin-left: 30px;
}

/* ready-section */
.ready-section{
    text-align: center;
    margin: 131px 151px;
    border-radius: 20px;
    padding: 71px 150px;
    background-color: rgb(243, 238, 243);
}
.ready-body{
    padding-bottom: 35px;
}
.ready-header{
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 20px;
}
.ready-description{
    padding-bottom: 20px;
}
.ready-img{
    border-radius: 48px;
}